# .gitignore for Visual Studio Code and .NET

# Ignore the .vscode folder and its contents
.vscode/
.vscode-server*/
.vscode-remote*/

# Ignore the history folder
.history/

# Ignore specific VS Code configuration files
.vscode/settings.json
.vscode/extensions.json
.vscode/launch.json
.vscode/tasks.json

# Ignore the VS Code snippets folder
.vscode/snippets/

# Ignore the VS Code logs folder
.vscode/logs/

# Ignore the VS Code workspace state
.vscode/workspaceStorage/

# Ignore the VS Code user settings
.vscode/user/

# Ignore the VS Code extensions
.vscode/extensions/
.vscode/cache/
.vscode/crash-reports/
.vscode/backups/
.vscode/globalStorage/

# Ignore .NET build results
bin/
obj/

# Ignore .NET user-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Ignore .NET project files
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore .NET Visual Studio files
*.VisualState.xml
*.dotSettings.user
*.dotSettings

# Ignore assembly files in obj folder
obj/**/*.dll
obj/**/*.exe

api/bin/
api/obj/
api/obj/**/*.dll
api/obj/**/*.exe